/* Loading.css */
.loader_container {
  position: fixed; /* Fixar a posição do container na tela */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to bottom,
  rgb(244, 244, 247), 
  rgb(255, 255, 255), 
  rgb(244, 244, 247)
);
  z-index: 9999; /* Certifique-se de que está acima de outros elementos */
}

.loader {
  width: 50px;
  height: 50px;
}
